@model MySpace.Models.PasswordView

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reinitialisation de mot de passe</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    <fieldset class="formField">
        <legend>@Html.DisplayNameFor(model => model.Password)</legend>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Password) } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        <br />
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.ConfirmPassword) } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        <br />
        <input type="submit" value="Modifier" class="btn btn-default" />
    </fieldset>
}

<div>
    @Html.ActionLink("Connexion", "Login")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

