@model MySpace.Models.Artist
@{
    MySpace.Models.User currentUser = MySpace.Models.OnlineUsers.GetSessionUser();
    MySpace.Models.Message currentMessage = Model.Messages.Where(pr => (pr.Id == Model.Id && pr.UserId ==
   currentUser.Id)).FirstOrDefault();
    int artistId = Model.Id;
    int userId = Model.UserId;
    DateTime currentMessageCreationDate = DateTime.Now;
}
<br />

<div style="display:grid; grid-template-columns: 40px auto">

    @if (currentUser.Id == userId)
    {
        <div style="padding-top:25px;">
            @Helper.GlyphiconAction($"ModifyPage/{artistId}", "glyphicon glyphiconStyle glyphicon-edit glyphicon-active", "Modifier votre page")
        </div>
    }
    <div><h2>@Model.Name</h2></div>
</div>
<div>
    <div style="display:grid; grid-template-columns: 120px 120px 120px">
        <h4>@Model.Visits Visites</h4>
        <h4>@Model.Likes Likes</h4>
    </div>
    <div class="ArtistInfoLayout">
        <div>
            @Helper.ImageBig(Model.MainPhotoGUID, "ArtistImage")
        </div>

        <div class="ArtistDescription">
            @Model.Description
        </div>
    </div>
</div>

<br />
<fieldset>
    <legend>
        Vidéos Youtube
        @if (currentUser.Id == userId)
        {
            @Helper.GlyphiconNoAction("glyphicon glyphiconStyle glyphicon-plus glyphicon-green pointer", "Ajouter une vidéo", id: "AddVideo")
        }
    </legend>
    <fieldset id="AddVideoForm" style="display:none; width:280px">
        <legend>Ajout d'un vidéo YouTube</legend>
        <input id="title" class="form-control" placeholder="Titre" style="margin-bottom:10px">
        <input id="youtubeLink" class="form-control" placeholder="Lien Youtube" style="margin-bottom:10px">
        <div style="display: grid; grid-template-columns:25px 25px; ">
            @Helper.GlyphiconNoAction("glyphicon glyphicon-green glyphiconStyle glyphicon-ok pointer",
            "Ajouter", id: "AcceptVideoLink", otherAttributes: $"artistid = {artistId}")
            @Helper.GlyphiconNoAction("glyphicon glyphicon-red glyphiconStyle glyphicon-remove pointer",
            "Annuler", id: "CancelAddVideo")
        </div>
    </fieldset>
    <div class="videosContainer">
        @{
            IEnumerable<MySpace.Models.Video> videos = Model.Videos.OrderBy(v => v.Creation); ;
            foreach (MySpace.Models.Video video in videos)
            {
                <div>
                    @if (currentUser.Id == userId)
                    {
                        @Helper.GlyphiconConfirmAction($"RemoveVideo?videoId={video.Id}",
                        "DeleteVideo glyphicon glyphicon-red glyphiconStyle glyphicon-remove pointer",
                        $"Effacer {video.Title} ?")
                    }
                    @Helper.YoutubeThumbnail(video)
                </div>
            }
        }
    </div>
</fieldset>
<fieldset style="min-width: 320px;">
    <legend>
        Messages
        @if (currentUser.Id != userId)
        {
            @Helper.GlyphiconNoAction("glyphicon glyphiconStyle glyphicon-plus pointer", "Ajouter un message", id: "AddMessage")
        }
    </legend>
    <div id="PhotoRatingsContainer" class="PhotoRatingsContainer">
        <div id="currentUserMessageForm" style="margin-bottom:20px; display:none">
            <hr />
            <div style="height: 40px; display:grid; grid-template-columns: 180px auto">
                <div>
                    @Helper.AvatarUser(currentUser)
                </div>
            </div>
            <textarea id="newMessage" style="width:100%"></textarea>
            <div style="height: 25px; display:grid; grid-template-columns: 26px 26px">
                @Helper.GlyphiconNoAction("glyphicon glyphicon-green glyphiconStyle glyphicon-ok pointer",
                "Ajouter", id: "AcceptNewMessage", otherAttributes: $"artistId = {artistId}")
                @Helper.GlyphiconNoAction("glyphicon glyphicon-red glyphiconStyle glyphicon-remove pointer",
                "Annuler", id: "CancelAddMessage")
            </div>
        </div>
        @{
            IEnumerable<MySpace.Models.Message> messages = Model.Messages.OrderByDescending(m => m.Creation); ;
            foreach (MySpace.Models.Message message in messages)
            {
                if (!message.User.Blocked)
                {
                    <hr />

                    <div style="height: 40px; display:grid; grid-template-columns: 180px auto">
                        <div>
                            @Helper.AvatarUser(message.User)
                        </div>
                        <div>
                            @Helper.When(message.Creation)
                        </div>
                    </div>
                    <div>
                        @message.Text
                    </div>
                }
            }
        }

    </div>
</fieldset>

